footer.footer
  .footer__logo
    img(src='/img/gusto.png' alt='Gusto logo')
  ul.footer__nav
    li: a(href='https://github.com/mryesiller') About Me    
  p.footer__copyright &copy; by Mryesiller. Feel free to use this project for your own purposes